<div class="form-container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <label>
                Responsibilities
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <select name="select2" class="multiple multi w-100" multiple>
                    <option value="1" data-left="assets/images/ingi.png">Mohammad Abdullah</option>
                    <option value="2" data-left="assets/images/runa.png">Mohammad Abdullah</option>
                    <option value="3" data-left="assets/images/jogvan.png">Mohammad Abdullah</option>
                    <option value="4" data-left="assets/images/noimage.png">Mohammad Abdullah</option>
                    <option value="5" data-left="assets/images/noimage.png">Mohammad Abdullah</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-3">
                <select class="form-control">
                    <option>Guest</option>
                    <option>Leader</option>
                    <option>Editor</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2">
                <span class="remove-icon ml-2 action-icon">
                    <img src="assets/images/delete-icon.svg" />
                </span>
            </div>
        </div>
    </div>
    <button class="btn btn-default icon-btn pt-1 pb-1 pl-2 pr-3 mt-1 addNewGuest">
        <img class="mr-1" src="assets/images/add-white.svg">
        Add Responsibilities
    </button>
</div>