<div class="row mb-1">
    <div class="col-sm-12 tree-container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">Thresholds</h4>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="main-canvas">
                    <a class="add-force-area tree-add-action p-3" href="#">
                        <i class="fas fa-plus mr-1"></i>
                        Add New Category
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>