<div class="col-sm-12">
    <div class="form-container light-bg">
        <div class="row">
            <div class="col-sm-12 mb-2">
                <div class="options-group">
                    <div class="form-group">
                        <div class="row d-flex">
                            <div class="col-sm-4">
                                <label>Language</label>
                                <select class="form-control">
                                    <option>English</option>
                                    <option>Arabic</option>
                                    <option>French</option>
                                    <option>Chinese</option>
                                </select>
                            </div>
                            <div class="flex-grow-1">
                                <label>
                                    Category name
                                </label>
                                <input type="text" placeholder="Name" id="forceTitleInput" class="form-control">
                            </div>
                            <div class="hidden">
                                <span class="action-icon remove-icon ml-2 lang-action">
                                    <img src="assets/images/delete-icon.svg" />
                                </span>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <label for="exampleFormControlTextarea1">
                                    Description
                                </label>
                                <textarea class="form-control text-area" placeholder="Enter Description" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default addNewLang">
                        <img class="mr-1" src="assets/images/add-white.svg">
                        Add Language
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>