<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Configurations</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thresholds</li>
                        </ol>
                    </nav>
                </div>
            </div>
                <!-- TREE -->
                <app-tree></app-tree>
        </div>
    </div>
  </div>