<div class="col-sm-12">
    <div class="form-container mt-3">
        <div class="form-group">
            <label>
                Color
            </label>
            <div class="row all-colors">
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box orange active" title="#FB760D">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box red" title="#B71E3E">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box yellow" title="#f7a532">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box green" title="#21CC97">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box turkuaz" title="#109aa4">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box blue" title="#6599FF">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box dark-gray" title="#464646">

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-color-box light-gray" title="#8b8b8b">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>