<div class="modal-footer p-2">
    <button data-dismiss="modal" aria-label="Close" id="closeBtn" type="button"
        class="btn icon-btn btn-secondary float-right ml-3 mt-2 btn-width">
        <img src="assets/images/rejected.svg">
        Cancel
    </button>
    <button data-dismiss="modal" aria-label="Close" type="button" id="saveForceChanges"
        class="btn icon-btn search-btn mt-2 float-right btn-width">
        <img src="assets/images/save-icon.svg" />
        Save
    </button>
</div>